button {
  background-color: #8ac007;
  width: 130px;
  height: 130px;
  border-radius:5px;
  color : white;
  font-size: 14px;
  border: None;
}

button:hover {
  background-color: #7bad07;
}

.pressed {
  background-color: #992588;
}

.pressed:hover {
  background-color: #781e6a;
}



.bingoBoard {
  display: grid;
  grid-gap: 0px;
  grid-template-columns:  150px 150px 150px 150px 150px;
  grid-template-rows: 150px  150px 150px 150px 150px;
  padding: 10px;
}

.bingoBox: {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}
